{% extends "base.twig" %}

{% block content %}
<section class="container mx-auto py-20">

<div class="md:w-10/12 mx-auto">
    <div class="mb-20 max-h-[700px] overflow-hidden flex flex-col md:flex-row justify-between items-center">
        <div class="w-4/12 px-2 mt-10"><img src="/wp-content/uploads/2024/05/reg_1.jpg" alt="" class="w-full h-auto rounded-xl shadow-lg border-green border-2 border-solid"></div>
        <div class="w-4/12 px-2 mt-20"><img src="/wp-content/uploads/2024/05/reg_2.jpg" alt="" class="w-full h-auto rounded-xl shadow-lg border-green border-2 border-solid"></div>
        <div class="w-4/12 px-2"><img src="/wp-content/uploads/2024/05/reg_3.jpg" alt="" class="w-full h-auto rounded-xl shadow-lg border-green border-2 border-solid"></div>
    </div>
    <h2 class="text-8xl uppercase text-red font-black mb-0">Register!</h2>
    <p class="text-xl mb-0">Please fill out this short form so we can get some basic information from you for the trip.<br>Have any questions? <a href="mailto:hello@runthistown.co">Email us!</a></p>

    <div class="mt-20">
        {{ function('do_shortcode', '[formidable id=3]') }}
    </div>
</div>

</section>

{% endblock %}
